.banner {
  padding: 5px 24px;
  background: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-toc-border-color);
  border-radius: var(--ifm-global-radius);
  margin-bottom: 24px;
  font-size: 12px;
  color: var(--ifm-color-secondary);
  text-align: center;
}

.separator {
  margin: 0 16px;
}
