/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
}

/*
Restore some Infima style that broke with CSS Cascade Layers
See https://github.com/facebook/docusaurus/pull/11142
 */
:global(.navbar__items--right) > :last-child {
  padding-right: 0;
}

/* Data load indicators */
.liveIndicator {
  background-color: #22c55e;
  animation: blink 2s ease-in-out infinite;
}

.staleIndicator {
  background-color: #eab308;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
